@import "UserSettings.style.css";
.stac--nochat .stac--trigger,
.stac--nochat .stac--panel,
.stac--nochat .stac--menu {
  display: none;
}
.stac--trigger {
  position: absolute;
  bottom: 0.125em;
  right: 0.25em;
  font-size: 2em;
  opacity: 0.25;
  transition: opacity 200ms;
  cursor: pointer;
  z-index: 3010;
  filter: drop-shadow(2px 4px 6px black);
}
.stac--trigger:hover {
  opacity: 1;
}
.stac--trigger.stac--hasMenu {
  z-index: 30010;
}
.stac--trigger .stac--spinner {
  position: absolute;
  font-size: 0.75em;
  inset: calc(1em / 6);
  filter: invert(1);
}
.stac--menu {
  filter: drop-shadow(1px 1px 2px var(--black50a));
  z-index: 30000;
  overflow-x: clip;
  overflow-y: auto;
  border-radius: 10px;
  aspect-ratio: unset;
  padding: 5px 5px 2em 5px;
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--secondaryBg, var(--SmartThemeBlurTintColor));
  container-type: inline-size;
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: calc(50dvh);
  max-width: unset;
  width: calc((100vw - var(--sheldWidth)) / 2);
  transition: 200ms;
  transform-origin: calc(100% - 1em) calc(100% - 1em);
  scale: 0;
}
.stac--menu.stac--active {
  scale: 1;
}
.stac--menu .stac--item {
  padding: 0.25em 1em 0.25em 0.25em;
  opacity: 0.5;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: 200ms;
  display: flex;
  gap: 0.5em;
  align-items: baseline;
  transform: translateX(0);
}
.stac--menu .stac--item:hover,
.stac--menu .stac--item.stac--chat:not(.stac--current):hover,
.stac--menu .stac--item:has([contenteditable]) {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.0625);
}
.stac--menu .stac--item.stac--current {
  font-weight: bold;
}
.stac--menu .stac--item.stac--remove {
  transform: translateX(150%);
}
.stac--menu .stac--item .stac--icon {
  flex: 0 0 auto;
  width: 1.25em;
  text-align: center;
}
.stac--menu .stac--item .stac--label {
  flex: 1 1 auto;
}
.stac--menu .stac--item.stac--chat:not(.stac--current) {
  opacity: 0.25;
}
.stac--menu .stac--item.stac--chat .stac--label {
  display: flex;
}
.stac--menu .stac--item.stac--chat .stac--content {
  flex: 1 1 auto;
}
.stac--menu .stac--item.stac--chat .stac--meta {
  font-weight: normal;
  font-size: smaller;
  opacity: 0.5;
  display: flex;
  gap: 1em;
}
.stac--menu .stac--item.stac--chat .stac--icon {
  margin-right: 0.25em;
}
.stac--menu .stac--item.stac--chat .stac--actions {
  flex: 0 0 auto;
  display: flex;
  gap: 0.5em;
}
.stac--panel {
  --fontSize: 1;
  --width: 0.5;
  --inputColorBg: rgba(0, 0, 0, 0.7);
  --inputColorText: #ffffff;
  --userColorBg: #2d2d2d;
  --userColorText: #ffffff;
  --userColorBgHeader: #454545;
  --userColorTextHeader: #ffffff;
  --botColorBg: rgba(17, 17, 55, 0.85);
  --botColorText: #ffffff;
  --botColorBgHeader: #444458;
  --botColorTextHeader: #ffffff;
  font-size: calc(1em * var(--fontSize));
  filter: drop-shadow(1px 1px 2px var(--black50a));
  z-index: 3000;
  overflow: hidden;
  border-radius: 10px;
  aspect-ratio: unset;
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  container-type: inline-size;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  max-width: unset;
  width: calc((100vw - var(--sheldWidth)) / 2);
  transition: calc(1ms * var(--stcdx--transitionTime));
  transform-origin: calc(100% - 1em) calc(100% - 1em);
  scale: 0;
}
.stac--panel.stac--unlocked {
  width: calc((100dvw - var(--nav-bar-width)) * var(--width));
}
.stac--panel.stac--active {
  scale: 1;
}
.stac--panel .stac--messages {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column-reverse;
  overflow-x: clip;
  overflow-y: auto;
}
.stac--panel .stac--messages:has(.stac--delMenu) .stac--message:not(:has(.stac--delMenu)) {
  z-index: -1;
}
.stac--panel .stac--messages > .stac--message {
  padding: 0 10px;
  width: auto;
  transition: transform 400ms;
  display: block;
}
.stac--panel .stac--messages > .stac--message.stac--user {
  margin-left: 5em;
  background-color: var(--userColorBg);
  color: var(--userColorText);
}
.stac--panel .stac--messages > .stac--message.stac--bot {
  margin-right: 3em;
  background-color: var(--botColorBg);
  color: var(--botColorText);
}
.stac--panel .stac--messages > .stac--message.stac--remove {
  transform: translateX(150%);
  z-index: -1;
}
.stac--panel .stac--messages > .stac--message .stac--content {
  line-height: 1.5em;
  padding: 0;
}
.stac--panel .stac--messages > .stac--message .stac--content.stac--editor {
  line-height: calc(1.5em + 1px);
}
.stac--panel .stac--messages > .stac--message .stac--content p:last-child {
  margin-bottom: 0;
}
.stac--panel .stac--messages > .stac--message .stac--content pre {
  margin: 0;
  font-size: smaller;
}
.stac--panel .stac--messages > .stac--message .stac--content .stac--blockquote {
  position: relative;
  padding-right: calc(1.25em + 20px);
}
.stac--panel .stac--messages > .stac--message .stac--content .stac--blockquote .stac--copy {
  position: absolute;
  top: 4px;
  right: 4px;
  margin: 0;
  transition: 200ms;
  opacity: 0.5;
}
.stac--panel .stac--messages > .stac--message .stac--content .stac--blockquote .stac--copy:hover {
  opacity: 1;
}
.stac--panel .stac--messages > .stac--message .stac--content .stac--blockquote .stac--copy.stac--success {
  background-color: #51a351;
  opacity: 1;
}
.stac--panel .stac--messages > .stac--message .stac--content .stac--blockquote .stac--copy.stac--failure {
  background-color: #bd362f;
  opacity: 1;
}
.stac--panel .stac--messages .stac--avatar {
  position: absolute;
  top: -1.4em;
  left: -1.25em;
  height: 2.75em;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 50%;
}
.stac--panel .stac--messages .stac--avatarImg {
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: top center;
}
.stac--panel .stac--messages .stac--user .stac--details {
  background-color: var(--userColorBgHeader);
  color: var(--userColorTextHeader);
  margin-left: -10px;
  padding-left: 10px;
}
.stac--panel .stac--messages .stac--user .stac--details .stac--actions {
  padding-left: calc(3em / 0.75);
}
.stac--panel .stac--messages .stac--details {
  display: flex;
  align-items: center;
  gap: 2em;
  background-color: var(--botColorBgHeader);
  border-bottom: 1px solid black;
  border-radius: 10px 10px 0 0;
  color: var(--botColorTextHeader);
  margin: 0 -10px 0 calc(1.25em - 10px);
  padding: 0 10px 0 calc(9.5px + 1.25em);
  position: sticky;
  top: 0;
  z-index: 1;
}
.stac--panel .stac--messages .stac--details .stac--date {
  font-size: 0.75em;
  opacity: 0.5;
}
.stac--panel .stac--messages .stac--details .stac--actions,
.stac--panel .stac--messages .stac--details .stac--nav {
  font-size: 0.75em;
  display: flex;
  gap: 0.5em;
  position: relative;
}
.stac--panel .stac--messages .stac--details .stac--nav {
  flex: 1 1 auto;
  justify-content: end;
}
.stac--panel .stac--messages .stac--details .stac--info {
  margin: 0 -0.5em;
  opacity: 0.5;
}
.stac--panel .stac--messages .stac--details .stac--info.stac--swipesCount {
  transition: 200ms;
  cursor: pointer;
}
.stac--panel .stac--messages .stac--details .stac--info.stac--swipesCount:hover {
  opacity: 1;
}
.stac--panel .stac--messages .stac--details .stac--action {
  aspect-ratio: 1 / 1;
  text-align: center;
  height: calc(4px + 1.2lh);
  padding: 2px;
  opacity: 0.5;
  transition: 200ms;
  cursor: pointer;
}
.stac--panel .stac--messages .stac--details .stac--action:hover {
  opacity: 1;
}
.stac--panel .stac--messages .stac--details .stac--action.stac--success {
  background-color: #51a351;
  opacity: 1;
}
.stac--panel .stac--messages .stac--details .stac--action.stac--failure {
  background-color: #bd362f;
  opacity: 1;
}
.stac--panel .stac--messages .stac--delMenu {
  filter: drop-shadow(1px 1px 2px var(--black50a));
  z-index: 30000;
  border-radius: 10px;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  backdrop-filter: blur(10px);
  position: absolute;
  right: 0;
  transition: 200ms;
  transform-origin: center top;
  scale: 0;
}
.stac--panel .stac--messages .stac--delMenu.stac--up {
  bottom: 100%;
  transform-origin: center bottom;
}
.stac--panel .stac--messages .stac--delMenu.stac--down {
  top: 100%;
  transform-origin: center top;
}
.stac--panel .stac--messages .stac--delMenu.stac--active {
  scale: 1;
}
.stac--panel .stac--messages .stac--delMenu .stac--item {
  border: 1px solid var(--SmartThemeBorderColor);
  border-radius: 4px;
  width: 6em;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  padding: 0.5em;
  overflow: hidden;
  background-color: var(--secondaryBg, var(--SmartThemeBlurTintColor));
  filter: saturate(0);
  transition: 200ms;
  cursor: pointer;
}
.stac--panel .stac--messages .stac--delMenu .stac--item:hover {
  filter: saturate(1);
}
.stac--panel .stac--messages .stac--delMenu .stac--item.stac--DELETE_MESSAGE :nth-child(2) {
  animation-name: stac--del-mes-target;
  animation-duration: 2400ms;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
.stac--panel .stac--messages .stac--delMenu .stac--item.stac--DELETE_MESSAGE :nth-child(n+3) {
  animation-name: stac--del-mes-follow;
  animation-duration: 2400ms;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
.stac--panel .stac--messages .stac--delMenu .stac--item.stac--DELETE_BRANCH :nth-child(n+2) {
  animation-name: stac--del-mes-target;
  animation-duration: 2400ms;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
.stac--panel .stac--messages .stac--delMenu .stac--item.stac--DELETE_SWIPE :nth-child(n+2) {
  animation-name: stac--del-mes-target-return;
  animation-duration: 2400ms;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
.stac--panel .stac--messages .stac--delMenu .stac--item > div {
  border-radius: 3px;
  height: 2em;
  border-top-width: 5px;
  border-top-style: solid;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  position: relative;
}
.stac--panel .stac--messages .stac--delMenu .stac--item > div.stac--user {
  margin-left: 1em;
  background-color: var(--userColorBg);
  border-top-color: var(--userColorBgHeader);
  color: var(--userColorText);
}
.stac--panel .stac--messages .stac--delMenu .stac--item > div.stac--bot {
  margin-right: 1em;
  background-color: var(--botColorBg);
  border-top-color: var(--botColorBgHeader);
  color: var(--botColorText);
}
.stac--panel .stac--spinner {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  backdrop-filter: blur(10px);
  font-size: 5em;
  inset: 0;
  z-index: 1;
}
.stac--panel .stac--spinner > div {
  display: flex;
}
.stac--panel.stac--isLoading .stac--spinner {
  display: flex;
}
@keyframes stac--del-mes-target {
  0% {
    left: 0;
  }
  25% {
    left: 0;
  }
  48% {
    left: 120%;
  }
  100% {
    left: 120%;
  }
}
@keyframes stac--del-mes-target-return {
  0% {
    left: 0;
  }
  25% {
    left: 0;
  }
  48% {
    left: 120%;
  }
  48.001% {
    left: -120%;
  }
  52% {
    left: -120%;
  }
  75% {
    left: 0;
  }
  100% {
    left: 0;
  }
}
@keyframes stac--del-mes-follow {
  0% {
    top: 0;
  }
  52% {
    top: 0;
  }
  75% {
    top: calc(-2em - 0.6em);
  }
  100% {
    top: calc(-2em - 0.6em);
  }
}
.stac--head {
  background-color: #454545;
  border-radius: 5px 5px 0 0;
  display: flex;
  font-size: smaller;
  padding: 1px 3px;
  transition: 200ms;
  cursor: pointer;
}
.stac--head:hover .stac--start,
.stac--head:hover .stac--end {
  opacity: 1;
}
.stac--head .stac--start {
  flex: 0 0 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  opacity: 0.5;
}
.stac--head .stac--end {
  flex: 0 0 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  direction: rtl;
  opacity: 0.5;
}
.stac--form {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  margin-right: 2.25rem;
  position: relative;
}
.stac--form:has(:focus-visible) {
  outline: -webkit-focus-ring-color auto 1px;
}
.stac--form .stac--main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.stac--form .stac--actions {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--primaryBgCol);
  border-radius: 0 0 5px 0;
  overflow: hidden;
  width: 2em;
}
.stac--form .stac--action {
  flex: 0 0 50%;
  border-radius: 0;
  margin: 0;
  opacity: 0.5;
  transition: 200ms;
  width: 100%;
}
.stac--form .stac--action:hover {
  opacity: 1;
}
.stac--input {
  background-color: var(--inputColorBg);
  border-radius: 0 0 0 5px;
  color: var(--inputColorText);
  min-height: calc(3lh + 6px);
  max-height: 50dvh;
  margin: 0;
  outline: none;
  overflow: auto;
}
.stac--input:empty::before {
  content: 'Ask questions';
  color: color-mix(in srgb, var(--inputColorText), transparent);
}
.stac--input:focus:empty::before {
  content: '';
}
.stac--history {
  filter: drop-shadow(1px 1px 2px var(--black50a));
  z-index: 30000;
  overflow-x: clip;
  overflow-y: auto;
  border-radius: 10px;
  aspect-ratio: unset;
  padding: 5px;
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--secondaryBg, var(--SmartThemeBlurTintColor));
  container-type: inline-size;
  position: absolute;
  bottom: 100%;
  right: 0;
  min-height: 2em;
  max-height: calc(50dvh);
  width: 100%;
  transition: 200ms;
  transform-origin: calc(100% - 0.5em) calc(100% + 0.5em);
  scale: 0;
}
.stac--history.stac--active {
  scale: 1;
}
.stac--history .stac--item {
  padding: 0.25em 1em 0.25em 0.25em;
  opacity: 0.5;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: 200ms;
  display: flex;
  gap: 0.5em;
  align-items: baseline;
  transform: translateX(0);
}
.stac--history .stac--item:hover,
.stac--history .stac--item.stac--chat:not(.stac--current):hover,
.stac--history .stac--item:has([contenteditable]) {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.0625);
}
.stac--history .stac--item.stac--current {
  font-weight: bold;
}
.stac--history .stac--item.stac--remove {
  transform: translateX(150%);
}
.stac--history .stac--item .stac--icon {
  flex: 0 0 auto;
  width: 1.25em;
  text-align: center;
}
.stac--history .stac--item .stac--label {
  flex: 1 1 auto;
}
.stac--history .stac--item .stac--title {
  font-size: 0.75em;
  color: color-mix(in srgb, var(--SmartThemeBodyColor) 50%, transparent 50%);
}
.stac--history .stac--item .stac--title::first-line {
  font-size: calc(0.9em / 0.75);
  color: var(--SmartThemeBodyColor);
}
.popup:has(.stac--swipesDlg) {
  aspect-ratio: unset;
  height: 95dvh;
  width: 95dvw;
}
.popup:has(.stac--swipesDlg) .popup-content {
  display: flex;
  flex-direction: column;
}
body .stac--swipesDlg {
  --inputColorBg: rgba(0, 0, 0, 0.7);
  --inputColorText: #ffffff;
  --userColorBg: #2d2d2d;
  --userColorText: #ffffff;
  --userColorBgHeader: #454545;
  --userColorTextHeader: #ffffff;
  --botColorBg: rgba(17, 17, 55, 0.85);
  --botColorText: #ffffff;
  --botColorBgHeader: #444458;
  --botColorTextHeader: #ffffff;
  display: flex;
  gap: 1em;
  overflow: clip;
  text-align: left;
  font-size: small;
  overflow-x: auto;
}
body .stac--swipesDlg .stac--branch {
  flex: 1 0 calc(25% - 3em / 4);
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--SmartThemeBotMesBlurTintColor);
  border: 1px solid var(--SmartThemeBorderColor);
  border-radius: 4px;
}
body .stac--swipesDlg .stac--actions {
  display: flex;
  gap: 1em;
}
body .stac--swipesDlg .stac--branch > .stac--actions {
  justify-content: end;
}
body .stac--swipesDlg .stac--message > .stac--actions {
  margin: -10px;
  border-radius: 4px 4px 0 0;
  padding: 1px 4px;
}
body .stac--swipesDlg .stac--action {
  margin: 0;
}
body .stac--swipesDlg .stac--messages {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
body .stac--swipesDlg .stac--message {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: stretch;
  margin: 0;
  width: unset;
}
body .stac--swipesDlg .stac--message.stac--user {
  margin-left: 1em;
  background-color: var(--userColorBg);
  color: var(--userColorText);
}
body .stac--swipesDlg .stac--message.stac--bot {
  margin-right: 1em;
  background-color: var(--botColorBg);
  color: var(--botColorText);
}
body .stac--swipesDlg .stac--message .stac--content > :first-child {
  margin-top: 0;
}
body .stac--swipesDlg .stac--message .stac--content > :last-child {
  margin-bottom: 0;
}
body .stac--swipesDlg .stac--message .stac--content pre > code {
  font-size: 0.6em;
}
body .stac--swipesDlg .stac--message.stac--collapsed > .stac--content {
  display: none;
}
.popup:has(.stac--storyDlg) {
  aspect-ratio: unset;
  height: 95dvh;
  width: 95dvw;
}
.popup:has(.stac--storyDlg) .popup-content {
  display: flex;
  flex-direction: column;
}
body .stac--storyDlg {
  display: flex;
  gap: 1em;
  text-align: left;
  overflow: hidden;
}
body .stac--storyDlg .stac--col {
  flex: 1 0 1px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
body .stac--storyDlg .stac--story .stac--message {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 2px solid silver;
}
body .stac--storyDlg .stac--story .stac--segment {
  cursor: pointer;
  opacity: 0.75;
  transition: 200ms;
}
body .stac--storyDlg .stac--story .stac--segment:hover {
  opacity: 1;
}
body .stac--storyDlg .stac--sections {
  gap: 1em;
}
body .stac--storyDlg .stac--sections .stac--section {
  background-color: var(--SmartThemeBotMesBlurTintColor);
  border: 1px solid var(--SmartThemeBorderColor);
  border-radius: 4px;
  font-size: small;
  padding: 2px 6px;
}
body .stac--storyDlg .stac--sections .stac--details {
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
}
body .stac--storyDlg .stac--sections .stac--title {
  font-family: var(--monoFontFamily);
}
body .stac--storyDlg .stac--sections .stac--actions {
  display: flex;
  gap: 1em;
}
body .stac--storyDlg .stac--sections .stac--action {
  cursor: pointer;
  opacity: 0.5;
  transition: 200ms;
}
body .stac--storyDlg .stac--sections .stac--action:hover {
  opacity: 1;
}
body .stac--storyDlg .stac--sections .stac--hidden .stac--action.stac--hide {
  color: red;
  opacity: 1;
}
body .stac--storyDlg .stac--sections .stac--hidden .stac--content {
  opacity: 0.25;
}
body .stac--storyDlg .stac--sections .stac--anchor {
  font-weight: bold;
}
body .stac--storyDlg .stac--sections .stac--dots {
  opacity: 0.5;
  font-size: 0.7em;
}
